@import "./variables";

.Button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: $lightGrey;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 14px;

  &.green {
    background-color: $green;
    color: white;
  }
}
