@import "./variables";

.Notes {
  textarea {
    width: 100%;
    border: 1px solid $lightGrey;
    outline: none;
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
  }
}
